TechFixClient/Connected Services/QuotationService/QuotationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetQuotationsByProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuotationsByProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuotationsByProductResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="quotationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveQuotationResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveQuotationResponseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategories">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsByCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PlaceQuotationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllQuotations">
        <s:complexType />
      </s:element>
      <s:element name="GetAllQuotationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllQuotationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondToQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="quotationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondToQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RespondToQuotationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllQuotationResponses">
        <s:complexType />
      </s:element>
      <s:element name="GetAllQuotationResponsesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllQuotationResponsesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupplierQuotations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupplierQuotationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSupplierQuotationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQuotationsByProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuotationsByProduct" />
  </wsdl:message>
  <wsdl:message name="GetQuotationsByProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuotationsByProductResponse" />
  </wsdl:message>
  <wsdl:message name="SaveQuotationResponseSoapIn">
    <wsdl:part name="parameters" element="tns:SaveQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="SaveQuotationResponseSoapOut">
    <wsdl:part name="parameters" element="tns:SaveQuotationResponseResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsByCategory" />
  </wsdl:message>
  <wsdl:message name="GetProductsByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceQuotation" />
  </wsdl:message>
  <wsdl:message name="PlaceQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllQuotationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllQuotations" />
  </wsdl:message>
  <wsdl:message name="GetAllQuotationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllQuotationsResponse" />
  </wsdl:message>
  <wsdl:message name="RespondToQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:RespondToQuotation" />
  </wsdl:message>
  <wsdl:message name="RespondToQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:RespondToQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllQuotationResponsesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllQuotationResponses" />
  </wsdl:message>
  <wsdl:message name="GetAllQuotationResponsesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllQuotationResponsesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSupplierQuotationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSupplierQuotations" />
  </wsdl:message>
  <wsdl:message name="GetSupplierQuotationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSupplierQuotationsResponse" />
  </wsdl:message>
  <wsdl:portType name="QuotationWebServiceSoap">
    <wsdl:operation name="GetQuotationsByProduct">
      <wsdl:input message="tns:GetQuotationsByProductSoapIn" />
      <wsdl:output message="tns:GetQuotationsByProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveQuotationResponse">
      <wsdl:input message="tns:SaveQuotationResponseSoapIn" />
      <wsdl:output message="tns:SaveQuotationResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input message="tns:GetCategoriesSoapIn" />
      <wsdl:output message="tns:GetCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <wsdl:input message="tns:GetProductsByCategorySoapIn" />
      <wsdl:output message="tns:GetProductsByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceQuotation">
      <wsdl:input message="tns:PlaceQuotationSoapIn" />
      <wsdl:output message="tns:PlaceQuotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllQuotations">
      <wsdl:input message="tns:GetAllQuotationsSoapIn" />
      <wsdl:output message="tns:GetAllQuotationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondToQuotation">
      <wsdl:input message="tns:RespondToQuotationSoapIn" />
      <wsdl:output message="tns:RespondToQuotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllQuotationResponses">
      <wsdl:input message="tns:GetAllQuotationResponsesSoapIn" />
      <wsdl:output message="tns:GetAllQuotationResponsesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierQuotations">
      <wsdl:input message="tns:GetSupplierQuotationsSoapIn" />
      <wsdl:output message="tns:GetSupplierQuotationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QuotationWebServiceSoap" type="tns:QuotationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuotationsByProduct">
      <soap:operation soapAction="http://tempuri.org/GetQuotationsByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveQuotationResponse">
      <soap:operation soapAction="http://tempuri.org/SaveQuotationResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <soap:operation soapAction="http://tempuri.org/GetProductsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceQuotation">
      <soap:operation soapAction="http://tempuri.org/PlaceQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuotations">
      <soap:operation soapAction="http://tempuri.org/GetAllQuotations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondToQuotation">
      <soap:operation soapAction="http://tempuri.org/RespondToQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuotationResponses">
      <soap:operation soapAction="http://tempuri.org/GetAllQuotationResponses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierQuotations">
      <soap:operation soapAction="http://tempuri.org/GetSupplierQuotations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QuotationWebServiceSoap12" type="tns:QuotationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuotationsByProduct">
      <soap12:operation soapAction="http://tempuri.org/GetQuotationsByProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveQuotationResponse">
      <soap12:operation soapAction="http://tempuri.org/SaveQuotationResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://tempuri.org/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <soap12:operation soapAction="http://tempuri.org/GetProductsByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceQuotation">
      <soap12:operation soapAction="http://tempuri.org/PlaceQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuotations">
      <soap12:operation soapAction="http://tempuri.org/GetAllQuotations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondToQuotation">
      <soap12:operation soapAction="http://tempuri.org/RespondToQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuotationResponses">
      <soap12:operation soapAction="http://tempuri.org/GetAllQuotationResponses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierQuotations">
      <soap12:operation soapAction="http://tempuri.org/GetSupplierQuotations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuotationWebService">
    <wsdl:port name="QuotationWebServiceSoap" binding="tns:QuotationWebServiceSoap">
      <soap:address location="https://localhost:44391/QuotationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="QuotationWebServiceSoap12" binding="tns:QuotationWebServiceSoap12">
      <soap12:address location="https://localhost:44391/QuotationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>